<template>
  <div class="home-container">
    <!-- navBar导航栏 -->
    <!-- fix表示固定显示 -->
      <van-nav-bar title="黑马头条" fixed/>
          <van-pull-refresh v-model="refreshing" @refresh="onRefresh" :disabled="finished" success-text="刷新成功">
                  <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
                    <ArticleInfo v-for="item in artList" :key="item.id"
                    :title="item.title"
                    :autor="item.authorName"
                    :com-count="item.commentCount"
                    :time="item.publishTime"
                    :cover="item.cover"
                    />
                </van-list>
          </van-pull-refresh>
      </div>
</template>

<script>
// import request from '@/utils/request.js'
import { getArticleList } from '@/api/articleApi.js'
import ArticleInfo from '@/components/article/Articlelnfo.vue'
// 可以直接导入json数据
// import articles from '@/data/articles.json'

export default {
  name: 'HomeView',
  components: {
    ArticleInfo
  },
  data() {
    return {
      page: 1,
      limit: 10,
      artList: [],
      // 首次加载页面不load
      loading: true,
      finished: false,
      refreshing: false
    }
  },
  created() {
    this.initArticleList()
    // 接口不通，这里模拟假数据
    // this.artList = articles
  },
  methods: {
    async initArticleList(isRefresh, isFirst) {
      console.log('initArticleList...')

      const { data: res } = await getArticleList(this.page, this.limit)
      console.log(res.data.list)

      if (isRefresh) {
        // 下拉刷新，拼接在顶部
        this.artList = [...res.data.list, ...this.artList]
        this.refreshing = false
      } else {
        // 上拉刷新，拼接在底部
        this.artList = [...this.artList, ...res.data.list]
        this.loading = false
      }

      if (res.data.list.length === 0) {
        this.finished = true
      }
    },
    onLoad() {
      console.log('onLoad数据了...')

      // 页码增加
      this.page++

      this.initArticleList()
    },
    onRefresh() {
      console.log('onRefresh数据了...')

      // 页码增加
      this.page++

      this.initArticleList(true)
    }
  }
}
</script>

<style lang="less" scoped>
.home-container {
  padding: 46px 0 50px 0;
}

// .van-nav-bar {
//   background-color: #078cc1;
// }

// /deep/.van-nav-bar__title {
//   color: white;
// }
</style>
