<template>
  <div>
  <!-- 路由占位符 -->

  <!-- Tabbar标签栏 -->
 <router-view />

  <van-tabbar route>
    <van-tabbar-item replace to="/home" icon="home-o">首页</van-tabbar-item>
    <van-tabbar-item replace to="/user" icon="user-o">我的</van-tabbar-item>
  </van-tabbar>
  </div>
</template>

<script>

export default {
  name: 'App'
}

</script>

<style lang="less" scoped>

</style>
